# prodaction_version

AddDefaultCharset UTF-8
#Options ALL -Indexes
RewriteEngine On

<IfModule mod_headers.c>
Access-Control-Allow-Origin: *
Access-Control-Allow-Credentials: true
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type" 
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
#Access-Control-Allow-Headers: X-PINGOTHER, Content-Type
Access-Control-Allow-Headers: Authorization, Lang
</IfModule>


<files .htaccess="">
order allow,deny
deny from all
</files>

# <IfModule mod_headers.c>
#   Header set Access-Control-Allow-Origin "*"
# </IfModule>

# RewriteCond %{HTTP_USER_AGENT} wget [NC]
# RewriteRule .* - [F]

# ErrorDocument 404 /404.html

# ErrorDocument 403 /admin/login/index.html
# ErrorDocument 500 /admin/login/index.html





